<div class="head">
  <h3><%= link_to comment.group.name, comment.group %></h3>
  <%= title "Editar tu comentario" %>
  <h3>Tema: <%= link_to comment.topic.name, [comment.group, comment.topic] %></h3>
  <%= render :partial => 'form', :locals => {:comment => comment } %>
</div>